@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Orbitron:wght@500&family=Oswald:wght@200;400&display=swap');

// <--------BODY --------->
* {
  font-family: 'Orbitron', sans-serif;
}

body{    
  background-color: black;
  padding-top: 60px;
  padding-bottom: 40px;
}

// <--------HEADER --------->
header {
  text-align: center;
    height: 200px;
    background: 
              url('../logo.png') no-repeat;
              background-blend-mode: multiply;
              background-size: cover;
}
.container {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

// <--------MAIN PAGE DROP DOWN --------->

.settings-wrapper {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 10px;
  padding: 20px;
}

// <--------SETTINGS GEAR BUTTON --------->
.presetSettings{
  position: absolute;
  top: 20;
  right: 80;
  background: url(settings-button.png) no-repeat;
  background-size: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
}
// <--------LOGOUT BUTTON --------->
#logout-button {
  background: black;
  position: absolute;
  top: 20;
  right: 20;
  background: url(logout.png) no-repeat;
  background-size: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
}

// <--------LOGIN BUTTON --------->
#login-form {
  position: absolute;
  top: 20;
  right: 20;
  color:white;
  background: url(login.png) no-repeat;
  background-size: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
}

// <--------LOGIN PAGE --------->
.login-wrapper {
  display: grid;
  justify-content: center;
  align-content: center;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

.outer {
    width:100%;
    text-align: center;
    padding: 20px;
}
.login-button-click{
    display: inline-block;
    background-color: violet;
    width: 80px;
    margin-right: 10px;
    font-family: 'Orbitron', sans-serif;

}

// <--------CUSTOMIZER PAGE MENU DOWN --------->
.preset-form {
  color: white;
  font-family: 'Orbitron', sans-serif;
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 30px;
}

input, input[type="text"]{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px ;
  border-radius: 4px ;
  border-width: 5px 0px 5px 0px;
  padding: 10px;
}

// <-------- PRESETS & BUTTONS --------->


.preset-wrapper {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 1rem;
  grid-template-columns: 200px 200px 200px 200px;
  background-color: black;
}

.preset-wrapper:nth-child(1) {
  grid-row: 2;
  grid-column: 1;
}

.preset-wrapper:nth-child(2) {
  grid-row: 2;
  grid-column: 2;
}

.preset-wrapper:nth-child(3) {
  grid-row: 2;
  grid-column: 3;
}

.preset-wrapper:nth-child(4) {
  grid-row: 2;
  grid-column: 4;
}

.preset-wrapper:nth-child(5) {
  grid-row: 3;
  grid-column: 1;
}

.preset-wrapper:nth-child(6) {
  grid-row: 3;
  grid-column: 2;
}

.preset-wrapper:nth-child(7) {
  grid-row: 3;
  grid-column:3;
}

.preset-wrapper:nth-child(8) {
  grid-row: 3;
  grid-column: 4;
}

.preset-wrapper:nth-child(9) {
  grid-row: 4;
  grid-column: 1;
}

.preset-wrapper:nth-child(10) {
  grid-row: 4;
  grid-column: 2;
}

.preset-wrapper:nth-child(11) {
  grid-row: 4;
  grid-column: 3;
}

.preset-wrapper:nth-child(12) {
  grid-row: 4;
  grid-column: 4;
}
// <-------- BOARD & BUTTONS --------->

.soundboard {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, minmax(100px, 1fr), 10vw);
  grid-template-rows: repeat(6, minmax(100px, 1fr), 10vw);
  background-color: black;
}

.button-wrapper:nth-child(1) {
  grid-row: 2;
  grid-column: 1;
}

.button-wrapper:nth-child(2) {
  grid-row: 2;
  grid-column: 2;
}

.button-wrapper:nth-child(3) {
  grid-row: 2;
  grid-column: 3;
}

.button-wrapper:nth-child(4) {
  grid-row: 2;
  grid-column: 4;
}

.button-wrapper:nth-child(5) {
  grid-row: 3;
  grid-column: 1;
}

.button-wrapper:nth-child(6) {
  grid-row: 3;
  grid-column: 2;
}

.button-wrapper:nth-child(7) {
  grid-row: 3;
  grid-column:3;
}

.button-wrapper:nth-child(8) {
  grid-row: 3;
  grid-column: 4;
}

.button-wrapper:nth-child(9) {
  grid-row: 4;
  grid-column: 1;
}

.button-wrapper:nth-child(10) {
  grid-row: 4;
  grid-column: 2;
}

.button-wrapper:nth-child(11) {
  grid-row: 4;
  grid-column: 3;
}

.button-wrapper:nth-child(12) {
  grid-row: 4;
  grid-column: 4;
}

.button-wrapper {
 width: 100px;
  height: 100px;
  border-radius: 10%;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 20px #fff,
    -10px 0 40px #f0f,
    10px 0 40px #0ff;
}

// <--------  BUTTON INTERACTIONS --------->

.button-area{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline:none;
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease 0.3s;
  transition-timing-function: ease-out;
}

.button-area:hover {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  box-shadow:
    inset 0 0 30px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px rgb(230, 146, 230),
    inset -20px 0 300px #0ff,
    0 0 20px #fff,
    -10px 0 40px rgb(230, 146, 230),
    10px 0 40px #0ff;
}

.button-area:active{
  width: 100px;
  height: 100px;
  border-radius: 10%;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px rgb(74, 253, 134),
    inset -20px 0 80px #0ff,
    inset 20px 0 300px rgb(247, 3, 3),
    inset -20px 0 300px #0ff,
    0 0 20px #fff,
    -10px 0 40px #f0f,
    10px 0 40px #0ff;
  filter: drop-shadow(0px 0px 5px rgb(134, 233, 225));
  transition: filter 0s;
}
