@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
FONT NAMES
FEEL FREE TO ADD OR MODIFY

font-family: 'Poppins', sans-serif; // CLEAN ROUND MINIMALISTIC
font-family: 'Press Start 2P', cursive; // VIEO GAME STYLE PIXELATED TEXT 
font-family: 'Quantico', sans-serif; // NO ROUND CORNERS FONT
*/

h1 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

button {
  font-family: 'Quantico', 'Press Start 2P', 'Poppins', Arial, Helvetica, sans-serif;
}

.app-container {
  height: 900px;
  width: 900px;
}
.board-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr)) ;
  align-items: flex-end;
  justify-content: space-between;

}
.soundButtonWrapper {
  padding: 10px;
  margin-top: 50px;
  width: 30%;
  background-color: rgb(51, 50, 51);
}

button {
  background-color: transparent;
  padding: 30px 10px;
  width: 100%;
  border: none;
  cursor: pointer;

  transition-duration: 300ms;
}

button:hover {
  background-color: rgb(228, 88, 186);
  box-shadow: 0px 0px 4px 5px rgb(255, 238, 0);
  color: white;
}